# Same as 'modules' in build.target in vite.config.js
# https://vitejs.dev/guide/build.html#browser-compatibility
# .browserslistrc is used by autoprefixer, vite uses its own config
Chrome >= 87
Firefox >= 78
Safari >= 14
Edge >= 88
