.DS_Store
node_modules
/vendor/
npm-debug.log
*.swp
*.psd
psd/
.idea/
*.mp4
*.webm
assets/css/*.css.map
assets/js/*.js.map
*.webp
*.glb
*.gltf
*.usdz
dist
*.po~
*.mo~
*.po
*.mo
*.pot~
.env

.stylelintcache
.eslintcache
