@charset "utf-8";

@import 'app/variables';
@import 'app/vendor-functions-mixins';
@import 'app/functions';

.check-frontpage-entry{
    &:after{
        content: var(--success-icon);;
    }
}
.check-autoprefixer{
    appearance: none; // ff 80+, safari 15.4+
    mask-image: none;
    print-color-adjust: initial;
}
